<included>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="org.hibernate.SQL" additivity="false" >
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.hibernate.type" additivity="false" >
        <level value="TRACE" />
        <appender-ref ref="CONSOLE" />
    </logger>
</included>